
Library/ScriptAssemblies/SteamVR_Actions.dll
Library/ScriptAssemblies/SteamVR_Actions.pdb
Library/ScriptAssemblies/SteamVR_Editor.dll
Library/ScriptAssemblies/SteamVR_Editor.pdb
Library/ScriptAssemblies/SteamVR_Input_Editor.dll
Library/ScriptAssemblies/SteamVR_Input_Editor.pdb
Library/ScriptAssemblies/SteamVR_Windows_EditorHelper.dll
Library/ScriptAssemblies/SteamVR_Windows_EditorHelper.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/Hierarchy/ff93e3-mainStage.json
Library/StateCache/SceneView/f49232-mainStage.json
MediSIM.sln
SteamVR.csproj
SteamVR_Actions.csproj
SteamVR_Editor.csproj
SteamVR_Input_Editor.csproj
SteamVR_Windows_EditorHelper.csproj
